#Cv {
    min-height: 90vh;
    h1 {
        text-align: center;
        padding: 20px 0;
        font-size: 40px;
    }
    .CvContainer{
        display: flex;
        #informations{
            
        }
    }

}