#Footer {
    background-color: #2e0f8b;

    h2 {
        text-align: center;
        color: white;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
    }
}