#home {
    width: 100%;
    .homeContainer{
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 95%;
        margin: 0 auto;
        .homeInformations{
            font-family: sans-serif;
            h2 {
                font-size: 55px;
            }
            p{
                padding-top: 20px;
                font-size: 30px;
            }
        }
        img {
            max-width: 40%;
        }
    }

    @media screen and (max-width: 1000px){
        .homeContainer{
            flex-direction: column;
            justify-content: center;
            height: 90vh;

            img {
                max-width: 80%;
            }
        }
    }
    @media screen and (max-width: 550px){
        .homeContainer{
            .homeInformations{
                h2{
                    font-size: 40px;
                }
                p {
                    font-size: 25px;
                }
            }
        }
    }
    
}

