#Projet {
    h1 {
        text-align: center;
        padding: 20px 0;
        font-family: 50px;
    }
    .ProjetContainer{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}